<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.thymeleaf.org/spring-data">

<head lang="en" th:replace="layout :: head">


</head>

<body>
	<div th:replace="layout :: nav"></div>
	<br></br>
		<h1 align="center">List User</h1>
	
        <div >
			<div>
       		<br></br>
			<div class="col-xs-12 col-sm-12 col-md-12" >
     		<table class="table table-striped table-bordered table-list" id="example" style="width: 100%" >
     		
 		 	<tr>
 		 		<th>Name</th>
 		 		
 		 		<th>Email</th>
 		 		<th>Contact</th>
 		 		<th>Department</th>
 		 		<th><em class="glyphicon glyphicon-cog"></em></th>
 		 	</tr>
 		 	<tr th:each="user : ${ListEmployee}" >
 		 		<td align="center" th:text=" ${user.name}"></td>
 		 		
 		 		<td  align="center" th:text=" ${user.email }" ></td>
 		 		<td  align="center" th:text=" ${user.noTelepon }" ></td>
 		 		<td  align="center" th:text=" ${user.department }" ></td>
 		 		<td align="center"><a class="btn btn-success btn" style="width: 7em; height: 2.5em" th:href="${'/admin/update/employee/'+user.idEmployee}" ><span ></span>Edit</a>
 		 		<a  onclick="return confirm('Are you sure you want delete user?');" class="btn btn-success btn" style="width: 7em; height: 2.5em" th:href="${'/admin/delete/user/'+user.idEmployee}" ><span ></span>Delete</a>
 		 			
 		 		</td>	
 		 	</tr>
			</table>
			
			
			</div>
			</div>
		
		</div>




</body>
<div th:replace="layout :: footer"></div>
<div th:replace="layout :: script"></div>
</html>
